<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.iotcode.simpleadmin.system.mapper.AuthoritiesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.iotcode.simpleadmin.system.entity.Authorities">
        <id column="authority" property="authority" />
        <result column="authority_name" property="authorityName" />
        <result column="parent_name" property="parentName" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="url" property="url" />
    </resultMap>
    <select id="getAuthByUserId" resultType="xyz.iotcode.simpleadmin.system.entity.Authorities">
        SELECT
            a.*
        FROM
            sys_user u
            JOIN sys_user_role ur ON u.user_id = ur.user_id
            JOIN sys_role r ON ur.role_id = r.role_id
            JOIN sys_role_authorities ra ON r.role_id = ra.role_id
            JOIN sys_authorities a ON ra.authority = a.authority
            WHERE u.user_id = #{userId}
    </select>
    <select id="getAuthByUsername" resultType="xyz.iotcode.simpleadmin.system.entity.Authorities">
        SELECT
            a.*
        FROM
            sys_user u
            JOIN sys_user_role ur ON u.user_id = ur.user_id
            JOIN sys_role r ON ur.role_id = r.role_id
            JOIN sys_role_authorities ra ON r.role_id = ra.role_id
            JOIN sys_authorities a ON ra.authority = a.authority
            WHERE u.username = #{username}
    </select>
    <insert id="saveAll">
        insert into sys_role_authorities (role_id, authority)
        values
        <foreach collection="dto.authList" item="item" index="index" separator=",">
            (#{dto.roleId} , #{item})
        </foreach>
    </insert>

</mapper>
